/*
COLORS:

*/
/*
0-600px: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
1200 - 1800: Desktops
1800+: Big Desktops

$breakpoint argument choices:
-Phone
-Tablet Portrait
-Tablet Landscape
-Big desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px 
*/
*,
x::after,
x::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size:100%;
}
@media (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
#menu-icon {
display: hidden;
width: 40px;
height: 40px;
background: <a href="http://tinypic.com?ref=261kfht" target="_blank">     <img src="http://i68.tinypic.com/261kfht.jpg" border="0" alt="Image and video hosting by TinyPic"></a> center;
}

body {
  box-sizing: border-box;
  padding: 0;
}

.wrapper {
  margin: 0 14rem 0 14rem;
}

.heading-secondary {
  font-size: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-parallax {
	margin: 0;
  position: full;
  background-image: linear-gradient(to right bottom, rgba(67, 67, 67, 0.8), rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
  background-attachment: fixed;
  height: full;
}

.banner {
  background-color: #e0e0db;
}
.banner__promo {
  text-align: center;
  padding: 1rem;
  font-size: 16px;
}

.navigation {
    max-width: 100%;
    height: 8.9rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
    align-items: center;
    justify-items: end;
	padding-left: 13rem;
	padding-right: 13rem;
	padding-top: 2.5rem;
}
.navigation__list {
  list-style: none;
  
}


.navigation__list li {
  display: inline-block;
  padding: 2.6rem 0 2.6rem 0;
}
.navigation__list a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  padding-right: 1.5rem;
}


.insta {
  color: #FFFFFF;
  font-size: 22px;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}	
.yelp {
	color: red;
	font-size: 22px;
}	
.fb {
	color: blue;
	font-size: 22px;
}	


.form__group {
	border: 2px;
}	
h1 {
	margin-top: 70px;
	font-weight: 1000;
	font-size: 80px;
	text-align:center;
	color: white;
}
	
p {display: block;
    font-weight: 700;
    font-size: 18px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
	margin-top: 9px;
}

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5ee021e639af8035429c7bcb/1592869355300-QCTF1MVFFUBHCB07ZD7E/DSC01851.jpg");
  width: auto;
}



.form-content {
	background: #dbd7d2;
	padding: 2px;
    width: center;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    margin: 5rem 15rem 15rem 15rem;
    position: relative;
    display: flex;
    display: -webkit-flex;
}

.left {
    background: #dbd7d2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 40px;
    position: relative;
    width: 100%;
    color: black;
}
.right {
	padding: 20px 40px;
    position: relative;
    width: 100%;
}

input[type=text] {
  width: 25%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], input[type=phone],select, textarea {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
  background-color: #808080;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: white;
  color: black;
}
input[type="radio"] {
  margin-right: 5px;
  margin-left: 20px;
}
.wpforms-required-label {
    color: #ff0000;
    font-weight: 400;
}
.ast {
	color: red;
}	


/*
footer {
	background-color: #333333;
}	
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
  text-align: center;
}
.footer h2 {
  margin-top: 1.3em;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.footer li {
  line-height: 2em;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  color: white;
}
.footer a:hover {
  text-decoration: bold;
  color: white;
}
.footer i {
	margin-right: 20px;
	text-align: center;
}
*/


footer {
	background-color: #333333;
  
}	
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}
.footer h2 {
  margin-top: 1.3em;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: underline;
  color: white;
}
.footer a:hover {
  text-decoration: bold;
  color: white;
}
.footer i {
	margin-right: 20px;
}

.footer-dark {
   
  padding:50px 0;
  color:#f0f9ff;
 background-color: #333333;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:14px;
  font-weight:bold;
  font-size:20px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
     
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
 
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
} 

.footer-dark .item.social > a {
  font-size:36px;
  width:44px;
  height:44px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:16px;
  margin-bottom:0;
   
}
/*# sourceMappingURL=style.css.map */
